<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>Home</title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1><strong>Welcome to the awesomest website!!</strong></h1>
    <h2>This is where magic happens.</h2>
  </body>
</html>
