<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Contact US </h1>
    <p> Contact coolest cats on the web! </p>
  </body>
</html>
