<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Welcome to the most awesome website on the internet </h1>
    <p> You won't find a website better anywherre else! </p>
  </body>
</html>
